section.section.about
  .section__info.section__info--right
    h2.section__title Облачный гейминг
    b.section__bold Как это работает
    p Наши сервера запускают игру, и передают вам картинку, которой вы можете управлять в реальном времени!
    figure.about__image
      img(
        width="337",
        height="194",
        src="@img/ImageServerHost.png",
        srcset="@img/ImageServerHost@2x.png 2x",
        alt="Схема облачного гейминга")
    hr
    p Приложение  запустится на ПК с процессором от 1.5 GHz , от 1 Gb RAM и доступом в интернет от 15 мбит/с на всех операционых системах Windows 7, 8, 10 MacOS и Linux.
    .section__link
      a(href="#") Загрузить
