section.section.devices
  .section__info.devices__info
    h2.section__title Играть можно в браузере
    b.section__bold Запускайте на любых устройствах
    figure.devices__image-mobile
      img(
        src="@img/ImageBrowser-mobile.png",
        srcset="@img/ImageBrowser-mobile@2x.png 2x",
        alt="Скриншоты с играми",
        width="465",
        height="304")
    p Наш модуль доступен на все популярные ОС и работает на всех компьютерах.
    .section__bottom
      a(href="#").section__link Открыть в браузере

  .section__liquid-block.devices__image-block
    .devices__image

